body 
{background-color:powderblue;}
h1 
{color:darkblue;text-align:center;text-shadow: 2px 2px 12px  #00ddff;}
h3 
{color:red;font-family: Arial;}
h5
{color:blue;border:8px yellow solid;font-size:20px;}
a{text-decoration:none;}

				
